:root{
        --iris: #4d5ae5;
        --ocean: #404bbf;
        --navy-blue: #2e2f42;
        --green: ##31d0aa;
        --slate: #434455;
        --light-slate: #8e8f99;
        --cornflower: #e7e9fc;
        --cloud: #f4f4fd;
        --white: #ffffff;
        --dairy: #fcfcfc;

}

body{
    font-family: Roboto, sans-serif;   
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #434455;
    background-color: var(--white);
}

 /* logo */

.logolist{
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.inside-logo{
    color: #2e2f42;
}

.list{
    list-style: none;
}

.link-style{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    /* text-decoration: none; */
}

.link-style:hover,
.link-style:focus{
    color: var(--ocean);
}

.link-active{
    color: var(--ocean);
}

.link{
    text-decoration: none;
   
}
  

/* logo */

.address-style{
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.contacts-color{
    color: #434455;
}

.contacts-color:hover,
.contacts-color:focus{
    color: var(--ocean);
}

/* Section 1 */

.first-section{
    background-color: var(--navy-blue);
}

.section-title{
   font-size: 56px;
   line-height: 1.07;
   text-align: center;
   letter-spacing: 0.02em;
   color: #ffffff;
}

.first-section-button{
    background-color: #4d5ae5;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
}

  .first-section-button:hover,
  .first-section-button:focus {
    background-color: #404bbf;
  }
  .first-section-button {
    cursor: pointer;
  }

/* section 2 class */

.section-two-headers{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.section-two-paragraphs{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

}

.section-title{
   background-color: #2e2f42;
   font-size: 56px;
   line-height: 1.07;
   text-align: center;
   letter-spacing: 0.02em;
   color: #ffffff;
}


/* section 3 class */

.section-third-headers{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}
/* section 4 class */

.fourth-section{
    background-color: #f4f4fd;
}

.fourth-section-header{
    background-color: #f4f4fd;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.employees-color {
    background-color: #ffffff
}

.employees-name{
    color:#2e2f42;
    font-weight: 500;
    letter-spacing: 0.02em;
    font-size: 20px;
    line-height: 1.2;
}

.employees-position {
    font-size: 16px;
    color: #434455;
    letter-spacing: 0.02em;
    line-height: 1.5;
}



/* Porfolio pages */


.filter-button{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--iris);
    background-color: var(--cloud);
    cursor: pointer;
}

.filter-button:hover,
.filter-button:focus{
    color: var(--white);
    background-color: var(--ocean);
    
}

.active-filter{
    color: var(--white);
}

li{
   list-style: none;
}

/* .porfolio-link{
    text-decoration: none; 
} */

.portfolio-services{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    /* text-transform: lowercase;
    text-decoration: none; */
}

.portfolio-category{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* footer style */

.logo{
    text-decoration: none;
}

/* .logo span.weblogo,
.logo span.studio{
    text-decoration: none;
    color: var(--cloud);
} */

.footer-style{
    background-color: var(--navy-blue);
}

.footer-paragraph{
    line-height: 1.5;
    color: #f4f4fd;
    letter-spacing: 0.02em;
}

.studiologo{
    color: #f4f4fd;
}

