:root{
    --iris: #4d5ae5;
    --ocean: #404bbf;
    --navy-blue: #2e2f42;
    --green: ##31d0aa;
    --slate: #434455;
    --light-slate: #8e8f99;
    --cornflower: #e7e9fc;
    --cloud: #f4f4fd;
    --white: #ffffff;
    --dairy: #fcfcfc;

}
 
/* main page */
body{
    font-family: Roboto, sans-serif;   
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #434455;
    background-color: var(--white);
}

 /* logo */
 /* hw3 */
.header-navigation{
    display: flex;
    align-items: center;
}
 /* hw3 */

.logo{
    color: var(--IRIS, #4d5ae5);
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.header-logo{
    margin-right: 76px;
}

.inside-logo{
    color: #2e2f42;
}

.studiologo{
    color: #2e2f42;
}
 /* logo */

/* Menu/Navigation */
.header{
    border-bottom: 1px solid var(--CORNFLOWER, #e7e9fc);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
    0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.headercon{
    display: flex;
    justify-content: space-between;
}
 /* hw3 */
.container{
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.header-list{
    list-style: none;
    display: flex;
    gap: 40px;
}

.header-address{
    display: flex;
    align-items: center;
}

.contacts{
    font-style: normal;

}
 /* hw3 */
.header-link-style{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    /* text-decoration: none; */
}

.header-contacts-style{
    font-style: normal;
}

.header-link-style:hover
.header-link-style:focus{
    color: var(--ocean);
}

.link-active{
    color: var(--ocean);
}

.link{
    text-decoration: none;
}

.heading{
    display: flex;
    gap: 40px;
}

/* Section 1 */

.first-section{
    background-color: var(--navy-blue);
}

/* hw3 */
.section-title{
    text-align: center;
    margin: auto;
    max-width: 496px;
    color: var(--WHITE, #fff);
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    margin-bottom: 48px;
}

.button {
    margin: auto;
    padding: 16px 32px;
    display: block;
    height: 56px;
    border: none;
    min-width: 169px;
    background: #4d5ae5;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    border-radius: 4px;
}
/* hw3 */
  
.button:hover {
    background-color: #404bbf;
}
.button:focus {
    background-color: #404bbf;
}

/* section 2 class */

/* hw3 */
.section{
    padding: 120px 0;
}

.secondcon{
    display: flex;
    justify-content: center;
    align-items: center;
}

.visually-hidden {
    visibility: hidden;
    pointer-events: none;
    position: absolute;
}

/* section 2 and section 3 header two */
.secondarea{
    display: flex;
    gap: 24px;
}

.list-items{
    /* margin-right: 24px; */
    width: calc((100% - 72px) / 4);
     
} 

.section-text{
    width: 264px;
    height: auto;
}
/* hw3 */

/* hw2 */
.section-two-headers,
.employees-name{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.two-paragraphs,
.employees-position{
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: 0.02em;
    color: #434455;

}

/* section 3 class */

/* hw2 and hw3 */
.third-header{
    margin-top: -120px;
    justify-content: center;
    margin-bottom: 72px;
    color: var(--NAVY-BLUE, #2e2f42);
    display: flex;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

/* hw3 */
.third-lists{
    display: flex;
    list-style-type: none;
    gap: 24px;
}

.listarea{
    width:  calc((100% - 48px) / 3);
}
/* hw3 */


/* section 4 class */
.fourth-listarea{
    display: flex;
    list-style-type: none;
    gap: 24px;
    justify-content: center;
}
.fourth-section{
    background-color: #f4f4fd;
}

/* hw3 */
.fourthcon{
    padding: 120px;
    margin-top: -120px;
    width: 1440px;
    background-color: var(--cloudcolor, #f4f4fd);
}

.list .employees-color {
    background-color: #ffffff
}

.fourth-section-headers{
    justify-content: center;
    margin-bottom: 72px;
    color: var(--NAVY-BLUE, #2e2f42);
    display: flex;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

/* footer */
.footer-style{
    background-color: var(--navy-blue);
}

.footer-paragraph{
    line-height: 1.5;
    color: #f4f4fd;
    letter-spacing: 0.02em;
    max-width: 264px;
}

.below{
    display: inline-block;
    margin-bottom: 16px;
}
.studio-logo{
    color: #f4f4fd;
}

/* hw3 */
.fot{
    margin-top: -120px;
}
/* hw3 */

/* footer */

/* portfolio */

/* hw2 */

.services{
    color: var(--NAVY-BLUE, #2e2f42);
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
}

.filter-button{
    border-radius: 4px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #4d5ae5;
    background-color: #f4f4fd;
    cursor: pointer;
    padding: 12px 24px;
    border: 1px solid #e7e9fc;
}

.filter-button:hover,
.filter-button:focus{
    color: #ffffff;
    background-color: #404bbf;
    border: 1px solid transparent;
}

/* hw3 */
.portfolio-page{
    padding: 96px 0 120px 0;
}

.portfolio-button{
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
}

.portfolio-list{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-link{
    text-decoration: none;
}

.container-imag{
    border: 1px solid #e7e9fc;
    border-top: none;
    padding: 32px 16px;
    background: var(--WHITE, #fff);
    text-align: start;
}

.portfolio-services{
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.2;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portfolio-catergory{
    color: var(--SLATE, #434455);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}